html{margin:0}
h1{
    background-color: #9980FA;
    color:white;
    text-align: center;
    padding:10px 20px;
    margin-bottom: 30px;
}

div{
    border:4px solid black;
    display: flex;
    width: 1380px;
    margin:10px 20px;
  
}
img{
    width:300px;
    height:500px;
}
p{
    font-size: 30px;

   
}