html{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJBKrI73BpDXY5zhVfEtpwkun31w0xty4aMSAdRgQ1dKRTXu-wROPosBdEZ6klHhbBHDM&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(91, 171, 173);
}
h2{ text-align: center;}
#container{
    width: 400px;
    height:450px;
    /* border: solid 3px black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 0px auto ;
    background-color: white;
    margin-top: 10%;
    border-radius: 10px;

   
}
input{
    width: 300px;
    height: 60px;
    margin: 10px;
}
button{
    width: 90%;
    height:30px;
    background-color: rgb(78, 72, 200);
    color: white;
    font-size: 15px;
    border: none ;
    margin:auto;
}
a{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin: 0;
}